    /*Main CSS*/
    
    body {
        background-color: #8cd1e4;
    }
    /*ID CSS*/
    
    #footer {
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 120px;
        background-color: #ffe7b1;
        color: coral;
        text-align: center;
        font-size: 9px;
    }
    
    #footer p {
        display: inline-block;
        vertical-align: top;
        padding-left: 5em;
        padding-right: 5em;
    }
    
    #footerCallback {
        position: inherit;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 120px;
        background-color: #ffe7b1;
        color: coral;
        text-align: center;
        font-size: 9px;
    }
    
    #footerCallback p {
        display: inline-block;
        vertical-align: top;
        padding-left: 5em;
        padding-right: 5em;
    }
    
    #AlbumBlock {
        display: block;
        width: 100%;
        background: #4E9CAF;
        padding: 1px;
        border-radius: 5px;
        color: white;
    }
    
    #AlbumImages {
        padding: 10px;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    #AlbumImages:hover {
        opacity: 0.7;
    }
    
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }
    /*Class CSS*/
    
    .LinkButton {
        display: block;
        width: inherit;
        height: 20px;
        background: rgb(15, 65, 129);
        padding: 10px;
        padding-top: 5px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
    
    .DisplayBlock {
        display: block;
        width: 100%;
        height: 200px;
        background: #4E9CAF;
        padding: 1px;
        border-radius: 5px;
        color: white;
    }
    
    .ProjectHeader {
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    }
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
    }
    /* Modal Content (image) */
    
    .modal-content {
        margin: auto;
        display: block;
        width: 60%;
        max-width: 700px;
    }
    
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    /*FB-CALLBACK CSS*/
    
    .UserProfileDisplay {
        display: block;
        width: 100%;
        height: 200px;
        background: #4E9CAF;
        padding: 1px;
        border-radius: 5px;
        color: white;
    }
    
    .HeaderTable {
        width: 100%;
        height: 100px;
        position: relative;
    }
    
    .DriveButton {
        display: block;
        width: fit-content;
        height: 20px;
        background: rgb(15, 65, 129);
        padding: 10px;
        padding-top: 5px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
    
    .DriveButtonIndi,
    .DownloadButtonIndi {
        display: block;
        position: relative;
        width: 94.8%;
        height: 20px;
        background: rgb(15, 65, 129);
        padding: 10px;
        padding-top: 5px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
    
    .SlideShowButtonIndi {
        background-color: rgb(15, 65, 129);
        border: none;
        color: white;
        padding: 10px 32px;
        width: 100%;
        height: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
    /* Modal Content (image) */
    
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    /* Add Animation */
    
    .modal-content,
    #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    
    @keyframes zoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    
    @media screen and (min-width: 992px) {
        #footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 80px;
            background-color: #ffe7b1;
            color: coral;
            text-align: center;
            font-size: 16px;
        }
        .DisplayBlock {
            display: block;
            width: 100%;
            height: 150px;
            background: #4E9CAF;
            padding: 1px;
            border-radius: 5px;
            color: white;
        }
        .DriveButtonIndi {
            display: block;
            position: relative;
            width: 500px;
            height: 20px;
            background: rgb(15, 65, 129);
            padding: 10px;
            padding-top: 5px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }
        .SlideShowButtonIndi {
            display: block;
            position: relative;
            width: 500px;
            height: 20px;
            background: rgb(15, 65, 129);
            padding: 10px;
            padding-top: 5px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }
        .UserProfileDisplay {
            display: block;
            width: 100%;
            height: 200px;
            background: #4E9CAF;
            padding: 1px;
            border-radius: 5px;
            color: white;
        }
        #footerCallback {
            position: static;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 80px;
            background-color: #ffe7b1;
            color: coral;
            text-align: center;
            font-size: 16px;
        }
        .modal-content {
            width: 100%;
        }
    }
    /*Slider*/
    
    .slider {
        width: 1024px;
        margin: 2em auto;
    }
    
    .slider-wrapper {
        width: 100%;
        height: 400px;
        position: relative;
    }
    
    .slide {
        float: left;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 3s linear;
    }
    
    .slider-wrapper>.slide:first-child {
        opacity: 1;
    }